@charset "UTF-8";
/* CSS Document */


/* ALL
======================================*/
html {
	font-family: "游ゴシック体","Yu Gothic",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
}

.SubPage__background {
	padding-top: 100px;
	padding-bottom: 100px;
}

article {
	margin-bottom: 100px;
}

article:last-child {
	margin-bottom: 0;
}

.wrap {
	max-width: 960px; 
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 960px) {
	.wrap {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

.text__breakpoint {
	display: inline-block;
}

.SubPage__background {
	background-image: url("image/pc_bg_top.png"),url("image/pc_bg_bottom.png");
	background-repeat: no-repeat,no-repeat;
	background-position: center top,center bottom;
	background-size: 100% auto;
}

.SubPage__title {
	padding-top: 32px;
	padding-bottom: 32px;
	background-size: auto auto;
	background-color: rgba(211, 22, 44, 0.2);
	background-image: repeating-linear-gradient(135deg, transparent, transparent 6px, rgba(255, 255, 255, 0.4) 6px, rgba(255, 255, 255, 0.4) 7px );
	margin-top: -45px;
	
	text-align: center;
	font-size: 2.4rem;
}

.section__title {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

.section__title::before {
	content: "";
	display: block;
	width: 60px;
	height: 5px;
	border-radius: 10px;
	background-color: #d3162c;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
}



/* breadcrumb（パンくずリスト）
======================================*/
.breadcrumb__container {
	position: relative;
}

.breadcrumb {
	list-style: none;
	position: absolute;
	top: -70px;
}

.breadcrumb li {
	display: inline;
	list-style: none;
}

.breadcrumb li:after {
	content: '>';
	padding: 0 1rem;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	color: #6b9ae4;
}

.breadcrumb li a:hover {
	text-decoration: underline;
}




/* header（PC）
======================================*/
.PCheader__logo--ACA {
    display: block;
}

.PCheader__logo--denpaACA {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

    .PCheader__logo--denpaACA a img {
        height: 60px;
    }

    .PCheader__logo--alumni h1 a img {
        width: 266px;
    }

	.PCheader__logo--denpa a img {
		width: 10vw;
	}


@media screen and (max-width:960px) { 
	.PCheader__logo--denpaACA {
		justify-content: flex-end;
		flex-direction: row-reverse;
		height: 80px;
		margin-top: 5px;
		margin-bottom: 45px;
	}
	.PCheader__logo--ACA {
		display: none;
	}

	.PCheader__logo--denpa {
		margin-left: 10%;
		width: 10vw;
		min-width: 56px;
	}
}




/* nav（PC）
======================================*/
.SPheader__logo--alumni {
	display: none;
}

@media screen and (max-width: 960px) {
	.SPheader__logo--alumni {
		width: 60vw;
		min-width: 280px;
		display: block;
	}
}

#PCnav__header {
    display: flex;
    justify-content: space-between;
}

#PCnav__header ul {
    height: 30px;
    list-style: none;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.PCnav__line--red {
    color: #d3162c;
}

#PCnav__header ul a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px;
    line-height: 1;
}       

#PCnav__header ul a:hover {
    opacity: 0.6;
    transition: 0.2s;
}


@media screen and (max-width:960px) { 
	#PCnav__header {
		display: none;
	}
}




/* nav（SP）
======================================*/
#SPnav__header {
	display: none;
}	

#SPnav__HamburgerMenu--open {
    position: fixed;
	z-index: 9999;
    top: 0px;; right: 6px;
	display: inline-block;
	width: 35px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#SPnav__HamburgerMenu--open:before {
	display: inline-block;
	content: "MENU";
	color: #d3162c;
	font-weight: bold;
	text-align: center;
	font-size: 1.1rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#SPnav__HamburgerMenu--open span, #SPnav__HamburgerMenu--open span:before, #SPnav__HamburgerMenu--open span:after {
  position: absolute;
  transition: all 0.4s;
  height: 4px;/*線の太さ*/
  width: 35px;/*長さ*/
  border-radius: 3px;
  background: #d3162c;
  display: block;
  content: '';
  z-index: 9999;/*最前面*/
}

#SPnav__HamburgerMenu--open span:before {
  bottom: -8px;
}

#SPnav__HamburgerMenu--open span:after {
  bottom: -16px;
}


/*中身*/
#SPnav__HamburgerMenu--content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: .2s ease-in-out;
}

#SPnav__HamburgerMenu--content.open {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);/*背景色*/
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
}


/*:beforeにぼかし効果を設定する*/
#SPnav__HamburgerMenu--content.open :before {
  content: '';
  overflow: hidden;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;/*重なり順序を一番下にしておく*/
}


/*チェックが入ったら表示する内容*/

.SPnav__hamburgerMenu--top {
  height: 40px;/*×ボタンと被らないように*/
}

.SPnav__hamburgerMenu--category {
  text-align: center;
  margin-top: 2rem;
}

.SPnav__hamburgerMenu--CategoryTitle {
  padding: 0.5rem;
  list-style: none;
}

/* メニューオープン時のリンク文字設定 */
.SPnav__hamburgerMenu--CategoryTitle a {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6rem;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-bottom: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #A9A9A9;
}

.SPnav__hamburgerMenu--CategoryTitle a:hover {
	opacity: 0.7;
}

/*三本線を動かす*/
#SPnav__HamburgerMenu--open.active span {
  -webkit-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
  background-color: #888;
}

#SPnav__HamburgerMenu--open.active span:before {
  -webkit-transform: translateY(-8px) rotate(45deg);/*打ち消す*/
  transform: translateY(-8px) rotate(45deg);/*打ち消す*/
  opacity: 0;
}

#SPnav__HamburgerMenu--open.active span:after {
  -webkit-transform: translateY(-16px) rotate(45deg);
  transform: translateY(-16px) rotate(90deg);
  background-color: #888;
}

#SPnav__HamburgerMenu--open.active :before {
	color: #888;
}


@media screen and (max-width:960px) { 
	#SPnav__header {
		display: block;
	}
}




/* footer
======================================*/
footer {
	font-size: 1.4rem;
	padding: 50px 0;
	color: #fff;
	background-color: #d3162c;
	text-align: center;
}

@media screen and (max-width: 960px) {
	footer {
		font-size: 1.2rem;
	}
}

#PCnav__footer ul {
	margin-bottom: 40px;
    list-style: none;
	font-weight: bold;
    display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 960px) {
	#PCnav__footer ul {
		flex-wrap: wrap;
	}
}

#PCnav__footer a {
	display: block;
	font-size: 1.6rem;
	color: #fff;
	line-height: 1;
	text-decoration: none;
	padding: 20px;
} 

@media screen and (max-width: 960px) {
	#PCnav__footer a {
		padding: 10px;
	}
}


#PCnav__footer ul a:hover {
	opacity: 0.7;
	transition: 0.2s;
}

footer p {
	line-height: 2;
}

.PCnav__bleak {
	display: block;
}

@media screen and (max-width: 960px) {
	.PCnav__bleak {
		display: inline;
	}
} 

.footer__school--all {
	font-weight: bold;
}

.footer__school--name {
	font-size: 1.6rem;
}

@media screen and (max-width: 960px) {
	.footer__school--name {
		display: block;
	}
} 
