@charset "UTF-8";
/* CSS Document */


/* ALL
======================================*/
html {
	font-family: "游ゴシック体","Yu Gothic",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.6em;
}

.wrap {
	max-width: 960px; 
	margin-left: auto;
	margin-right: auto;
}




/* header（PC）
======================================*/
.PCheader__logo--ACA {
    display: block;
}

.PCheader__logo--denpaACA {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

    .PCheader__logo--denpaACA a img {
        height: 60px;
    }

    .PCheader__logo--alumni h1 a img {
        width: 266px;
    }


@media screen and (max-width:960px) { 
	.PCheader__logo--ACA {
		display: none;
	}

	.PCheader__logo--denpa {
		height: 60px;
	}
}




/* nav（PC）
======================================*/
#PCnav__header {
    display: flex;
    justify-content: space-between;
}

#PCnav__header ul {
    height: 30px;
    list-style: none;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.PCnav__line--red {
    color: #d3162c;
}

#PCnav__header ul a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px;
    line-height: 1;
}       

#PCnav__header ul a:hover {
    opacity: 0.6;
    transition: 0.2s;
}


@media screen and (max-width:960px) { 
	#PCnav__header {
		display: none;
	}
}




/* nav（SP）
======================================*/
#SPnav__header {
	display: none;
}	

#SPnav__HamburgerMenu--open {
    position: fixed;
	z-index: 9999;
    top: 0px;; right: 12px;
	display: inline-block;
	width: 35px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#SPnav__HamburgerMenu--open:before {
	display: inline-block;
	content: "MENU";
	color: #d3162c;
	font-weight: bold;
	text-align: center;
	font-size: 1.1rem;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#SPnav__HamburgerMenu--open span, #SPnav__HamburgerMenu--open span:before, #SPnav__HamburgerMenu--open span:after {
  position: absolute;
  transition: all 0.4s;
  height: 4px;/*線の太さ*/
  width: 35px;/*長さ*/
  border-radius: 3px;
  background: #d3162c;
  display: block;
  content: '';
  z-index: 9999;/*最前面*/
}

#SPnav__HamburgerMenu--open span:before {
  bottom: -8px;
}

#SPnav__HamburgerMenu--open span:after {
  bottom: -16px;
}


/*中身*/
#SPnav__HamburgerMenu--content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: .2s ease-in-out;
}

#SPnav__HamburgerMenu--content.open {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);/*背景色*/
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
}


/*:beforeにぼかし効果を設定する*/
#SPnav__HamburgerMenu--content.open :before {
  content: '';
  overflow: hidden;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;/*重なり順序を一番下にしておく*/
}


/*チェックが入ったら表示する内容*/

.SPnav__hamburgerMenu--top {
  height: 40px;/*×ボタンと被らないように*/
}

.SPnav__hamburgerMenu--category {
  text-align: center;
  margin-top: 2rem;
}

.SPnav__hamburgerMenu--CategoryTitle {
  padding: 0.5rem;
  list-style: none;
}

/* メニューオープン時のリンク文字設定 */
.SPnav__hamburgerMenu--CategoryTitle a {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6rem;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-bottom: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #A9A9A9;
}

.SPnav__hamburgerMenu--CategoryTitle a:hover {
	opacity: 0.7;
}

/*三本線を動かす*/
#SPnav__HamburgerMenu--open.active span {
  -webkit-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
  background-color: #888;
}

#SPnav__HamburgerMenu--open.active span:before {
  -webkit-transform: translateY(-8px) rotate(45deg);/*打ち消す*/
  transform: translateY(-8px) rotate(45deg);/*打ち消す*/
  opacity: 0;
}

#SPnav__HamburgerMenu--open.active span:after {
  -webkit-transform: translateY(-16px) rotate(45deg);
  transform: translateY(-16px) rotate(90deg);
  background-color: #888;
}

#SPnav__HamburgerMenu--open.active :before {
	color: #888;
}


@media screen and (max-width:960px) { 
	#SPnav__header {
		display: block;
	}
	
	.PCheader__logo--denpa {
		margin-left: 0.8rem;
		margin-top: 0.8rem;
	}
}


 

/* main
======================================*/
section {
	padding-top: 150px;
	padding-bottom: 150px;
}

section:first-child {
	padding-top: 0;
	padding-bottom: 0;
}

.section__title {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

.section__title::before {
	content: "";
	display: block;
	width: 60px;
	height: 5px;
	border-radius: 10px;
	background-color: #d3162c;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
}

.conponent__bottom {
	position: relative;
	display: block;
	width: 224px; height: 45px;
	margin-left: auto; margin-right: auto;
	border-radius: 23px;
	background-color: #d3162c;
	color: #fff;
	border: 1px solid #d3162c;;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	line-height: 45px;
	letter-spacing: 0.2rem;
}

.conponent__bottom:hover {
	transition: 0.2s;
	background-color: #fff;
	color:  #d3162c;
	border: 1px solid #d3162c;
}

.conponent__bottom--arrow {
	position: absolute;
	top: 14px;
	right: 16px;
}

/* main(hero-img)
======================================*/
.SPheroimg__logo--alumni {
	display: none;
}

@media screen and (max-width: 960px) {
	.SPheroimg__logo--alumni {
		display: block;
		width: 35%;
		margin-left: 0.8rem;
	}
}

.main__Heroimg {
	margin-top: -40px;
	position: relative;
}

@media screen and (max-width: 960px) {
	.main__Heroimg {
		margin-top: 0;
	}
}

.Heroimg__img {
	width: 630px; height: 366px;
	margin-left: auto;
	margin-right: auto;	
	background-image: url("image/photo_main.jpg");
	background-color: #D3162C;
	background-position: center;
	background-size: cover;
}

@media screen and (max-width: 960px) {
	.Heroimg__img {
		margin-top: -8vh;
		width: 90vw; height: 50vh;
		background-image: url( "image/sp_photo_main.jpg");
		background-position: center top;
		background-size: cover;
	}
}

.Heroimg__copy--vertical {
	display: inline-block;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

@media screen and (max-width: 960px) {
	.Heroimg__copy--vertical {
		writing-mode: horizontal-tb;
		text-align: right;
	}
}

.Heroimg__copy--left {
	position: absolute;
	left: 85px; bottom: 0;
	font-weight: bold;
	line-height: 2.4rem;
}

@media screen and (max-width: 960px) {
	.Heroimg__copy--left {
		right: 3vw; top: 0;
		font-size: 3vw;
		line-height: 1.5;
	}
}

.Heroimg__copy--right {
	position: absolute;
	right: 80px; top: 0;
	font-family: 'Train One', cursive;
	font-size: 2.4rem;
	line-height: 3.2rem;
	color: #d3162c;
}

@media screen and (max-width: 960px) {
	.Heroimg__copy--right {
		writing-mode: horizontal-tb;
		font-size: 5vw;
		line-height: 1.5;
		text-align: right;
		color: #fff;
		top: auto;
		bottom: 0; right: 6vw;
	}
}


/* main(News)
======================================*/

.main__News {
	margin-top: -45px;
	
	background-size: auto auto;
	background-color: rgba(211, 22, 44, 0.2);
	background-image: repeating-linear-gradient(135deg, transparent, transparent 6px, rgba(255, 255, 255, 0.4) 6px, rgba(255, 255, 255, 0.4) 7px );
}

.News__conteiner {
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 960px) {
	.News__conteiner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.News__item {
	width: 230px;
	text-decoration: none;
	color: #000;
}

@media screen and (max-width: 960px) {
	.News__item {
		margin-bottom: 48px;
	}
}

.News__item:hover {
	opacity: 0.7;
}

.News__detail--category-day {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 8px;
}

.News__category--notice {
	box-sizing: content-box;
	width: 98px; height: 20px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: #d3162c;
	border: 1px solid #d3162c;
	border-radius: 10px;
	background-color: #fff;
}

.News__title {
	text-align: justify;
	text-justify: inter-ideograph;
	font-size: 1.6rem;
	line-height: 1.5;
}








/* main(Benefit)
======================================*/
.Benefit__background {
	background-image: url("image/pc_bg_top.png"),url("image/pc_bg_bottom.png");
	background-repeat: no-repeat,no-repeat;
	background-position: center top,center bottom;
	background-size: 100% auto;
}


.Benefit__section {
	width: 790px;
	padding: 48px 72px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 0px 3px 0 rgba(0,0,0,0.10),
				0 3px 6px 0 rgba(0,0,0,0.15);
}

@media screen and (max-width: 960px) {
	.Benefit__section {
		width: 90vw;
	}
}

.Benefit__section--title {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
	.Benefit__section--title {
		flex-direction: column;
	}	
}


.Benefit__section--nomber {
	width: 64px;
	vertical-align: bottom;
	margin-right: 32px;
	margin-top: -16px;
}

@media screen and (max-width: 960px) {
	.Benefit__section--nomber {
		width: 38px;
		margin-bottom: 2.4rem;
	}
}

.Benefit__section--copy {
	font-size: 3.2rem;
	padding-bottom: 8px;
	border-bottom: 3px dotted #d3162c;
}

@media screen and (max-width: 960px) {
	.Benefit__section--copy {
		font-size: 2.4rem;
		line-height: 1.5;
		text-align: center;
	}
}


.Benefit__section--detail {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 960px) {
	.Benefit__section--detail {
		flex-direction: column;
		align-items: center;
	}
}

.Benefit__section--text {
	width: 284px;
	line-height: 2;
	text-align: justify;
	text-justify: inter-ideograph;
}

@media screen and (max-width: 960px) {
	.Benefit__section--text {
		margin-top: 2.4rem;
	}
}

.Benefit__section--link {
	display: block;
	width: 200px; height: 36px;
	margin-top: 24px;
	margin-left: auto;
	text-align: center;
	line-height: 36px;
	border: 1px solid #d3162c;
	border-radius: 30px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #d3162c;
	text-decoration: none;
}

@media screen and (max-width: 960px) {
	.Benefit__section--link {
		margin-right: auto;
	}
}

.Benefit__section--link:hover {
	transition: 0.2s;
	background-color: #d3162c;
	color: #fff;
	border: 1px solid #d3162c;
}

.Benefit__section--link i {
	margin-left: 1rem;
}

.Benefit__section--attention {
	font-size: 1.4rem;
	text-align: center;
}


/* footer
======================================*/
footer {
	font-size: 1.4rem;
	padding: 50px 0;
	color: #fff;
	background-color: #d3162c;
	text-align: center;
}

@media screen and (max-width: 960px) {
	footer {
		font-size: 1.2rem;
	}
}

#PCnav__footer ul {
	margin-bottom: 40px;
    list-style: none;
	font-weight: bold;
    display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 960px) {
	#PCnav__footer ul {
		flex-wrap: wrap;
	}
}

#PCnav__footer a {
	display: block;
	font-size: 1.6rem;
	color: #fff;
	line-height: 1;
	text-decoration: none;
	padding: 20px;
} 

@media screen and (max-width: 960px) {
	#PCnav__footer a {
		padding: 10px;
	}
}


#PCnav__footer ul a:hover {
	opacity: 0.7;
	transition: 0.2s;
}

footer p {
	line-height: 2;
}

.PCnav__bleak {
	display: block;
}

@media screen and (max-width: 960px) {
	.PCnav__bleak {
		display: inline;
	}
} 

.footer__school--all {
	font-weight: bold;
}

.footer__school--name {
	font-size: 1.6rem;
}

@media screen and (max-width: 960px) {
	.footer__school--name {
		display: block;
	}
} 
